# csv files will be ignored #
*.csv

# python cache files
*.pyc

# images
*.png

# swp files - vim
*.swp

# tex files
*.aux
*.bbl
*.log
*.nav
*.out
*.snm
*.toc

# more tex files
*.acn
*.acl
*.alg
*.blg
*.brf
*.glg
*.glo
*.gls
*.glsdefs
*.ist
*.lof
*.lot
*.pdf

# directories
teor_found/
plano_trabalho/
presentations/monografia/monografia
